<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create a Basketball Team </h1>
    <form method="POST" action="/reverse">
    <table>
        <tr>
            <td>Team Name:</td>
            <td><input type="text" name="name"><br></td>
        </tr>
        <tr>
            <td>Coach: </td>
            <td><input type="text" name="coach"><br></td>
        </tr>
        <tr>
            <td>Point Guard: </td>
            <td><input type="text" name="pg"><br></td>
        </tr>
        <tr>
            <td>Shooting Guard:</td>
            <td><input type="text" name="sg"><br></td>
        </tr>
        <tr>
            <td>Small Forward: </td>
            <td><input type="text" name="pf"><br></td>
        </tr>
        <tr>
            <td>Power Forward: </td>
            <td><input type="text" name="c"><br></td>
        </tr>
        <tr>
            <td>Center: </td>
            <td><input type="text" name="string"><br></td>
        </tr>
        <tr>
            <td><input type="submit" name="id" value="submit"></td>
            <td></td>
        </tr>
    </table>
    </form>   
 </body>
</html>


